<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FireTracker</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
       <div class="container">
            <img src="{% static 'images/FireTracker.png' %}" alt="logo" class="logo">

            <nav>
                <ul>
                    <li><a href="{% url 'analyzing' %}">Start Analyzing</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="main-section">
        <h1>Welcome to FireTracker</h1>

        <!-- Search bar and button -->
        <form action="{% url 'fire-weather' %}" method="GET">
            <div class="search-container">
                <input type="text" name="city" class="search-bar" placeholder="Search city..." required>
                <input type="text" name="country" class="search-bar" placeholder="Search country (Optional)">
                <button type="submit" class="search-btn">Search</button>
            </div>
        </form>

        <!-- Main content layout -->
        <h1>Fire prediction in QC</h1>
        <div class="content">

            <div class="map" style="height: 500px;">
                {{ map_html|safe }}
            </div>
            <div class="list">
                 <h2>Reported Fires</h2>
                <ul>
                    <li>Location 1</li>
                    <li>Location 2</li>
                    <li>Location 3</li>
                </ul>

                 <h2>Vulnerable Zones</h2>
                <ul>
                    <li>Location 1</li>
                    <li>Location 2</li>
                    <li>Location 3</li>
                </ul>
            </div>
        </div>
    </section>


<script>
console.log("test");
   function goCityPage(event) {
   console.log("test1");
        event.preventDefault();
        var searchQuery = document.getElementById('searchInput').value;
        console.log("hello");
        window.location.href = "{% url 'city' %}?search=" + searchQuery;
    }
</script>



</body>
</html>
